*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:tahoma;
}

body{
  background:#f5f5f5;
}

/* Header */

header{
  position:fixed;
  top:0;
  width:100%;
  background:#111;
  color:#fff;
  display:flex;
  justify-content:space-between;
  padding:15px 40px;
  z-index:1000;
}

header nav a{
  color:white;
  margin-left:20px;
  text-decoration:none;
}

/* Hero */

.hero{
  margin-top:70px;
  height:100vh;
  text-align:center;
  position:relative;
  color:white;
}

/* Slider */

.slider img{
  width:100%;
  height:100vh;
  object-fit:cover;
  position:absolute;
  opacity:0;
  transition:1s;
}

.slider img.active{
  opacity:1;
}

/* Animation */

.fade{
  position:relative;
  top:40%;
  animation:fadeIn 2s;
}

@keyframes fadeIn{
  from{opacity:0; transform:translateY(30px);}
  to{opacity:1; transform:translateY(0);}
}

/* Clock */

#clock{
  margin-top:20px;
  font-size:22px;
}

/* Portfolio */

#portfolio{
  padding:80px 40px;
  background:white;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.card{
  background:#eee;
  text-align:center;
  padding:10px;
  cursor:pointer;
  transition:0.3s;
}

.card:hover{
  transform:scale(1.05);
}

.card img{
  width:100%;
}

/* Modal */

.modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.7);
  display:none;
  justify-content:center;
  align-items:center;
}

.modal-box{
  background:white;
  padding:30px;
  width:300px;
  position:relative;
}

#close{
  position:absolute;
  top:5px;
  right:10px;
  cursor:pointer;
}

/* Contact */

#contact{
  padding:80px 20px;
  background:#222;
  color:white;
  text-align:center;
}

form{
  max-width:400px;
  margin:auto;
  display:flex;
  flex-direction:column;
}

input,textarea{
  margin:10px 0;
  padding:10px;
}

button{
  background:#0d6efd;
  color:white;
  border:none;
  padding:10px;
}

/* Responsive */

@media(max-width:600px){
  header{
    flex-direction:column;
  }
}